*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsaap{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(8, 189, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    box-shadow: 0px 0px 0px 0px rgb(8, 189, 47);
    animation: animZap 2s infinite ease-in-out;
}

@keyframes animZap {
    0%{
        box-shadow: 0px 0px 0px 5px rgb(8, 189, 47);
    }100%{
        box-shadow: 0px 0px 0px 15px transparent;
    }
}

.whatsaap img{
    width: 40px;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Parte do "track" da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: white; /* Cor do fundo */
    border-radius: 10px;
  }
  
  /* Parte do "thumb" (a barra que você movimenta) */
  ::-webkit-scrollbar-thumb {
    background-color: #ff7b00; /* Amarelo */
    border-radius: 10px;
    border: 2px solid #f4f4f4; /* Para criar um contorno */
  }
  
  /* Opcional: Estilizar ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffc107; /* Tom de amarelo mais escuro */
  }
  

:root{
    --font-main: 40px;
    --font-secondary: 35px;
    --font-min: 20px
}

html, body{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 150, 6);
    width: 100%;
    padding: 2px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header > .container > nav ul{
    display: flex;
    align-items: center;
    gap: 5px;   
}
header > .container > nav ul li{
    list-style: none;
    margin: 0 5px; 
}
header > .container > nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(290deg) brightness(120%) contrast(120%);
}


/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(182, 150, 6);
}

main .container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
}

main .container h1{
    margin-top: 10px;
    font-size: 80px;
    font-weight: bold;
}
main .container h3{
    font-size: 28px;
    margin-bottom: 20px;
}

main .container .banner1{
    width: 850px;
    overflow: hidden;
    border-radius: 30px;
}
main .container .banner1 img{
    width: 100%;
    object-fit: cover;
}

/* Banner 02 */
.banner2{
    background-color: rgb(219, 219, 219);
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    margin-left: -100px;
}
.active-banner2{
    margin-left: 0px;
    opacity: 1 !important;
    transition: 1s ease-in-out;
}

.banner2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.banner2 .container div > h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 5px 0;
}
.banner2 .container div > h1{
    margin-top: 10px;
}
.banner2 .container div > p {
    font-size: 20px;
}

.banner2-img{
    width: 500px;
    height: 400px;
    overflow: hidden;
    background-color: red;
    border-radius: 20px;
}

.banner2-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner2-text{
    max-width: 500px;
}

/* Banner 03 */
.banner3{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
    opacity: 0;
    margin-left: -100px;
}
.active-banner3{
    margin-left: 0px;
    opacity: 1 !important;
    transition: 1s ease-in-out;
}

.banner3 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.banner3 .container div > h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 5px 0;
}
.banner3 .container div > p {
    font-size: 20px;
}

.banner3-img{
    width: 500px;
    height: 400px;
    overflow: hidden;
    background-color: red;
    border-radius: 20px;
}

.banner3-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner3-text{
    max-width: 500px;
}

/* Banner Beers */
.banner-beers{
    width: 100%;
    opacity: 0;
    transition: 1s ease-in-out;
}

.banner-beers img{
    width: 100%;
    object-fit: cover;
}

/* Contact */
.contact{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -100px;
    opacity: 0;
}

.active-contact{
    margin-left: 0px;
    opacity: 1 !important;
    transition: 1s ease-in-out;
}

.contact .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact .container > div {
    max-width: 600px;
}

.contact .container > div h1{
    margin: 15px 0;
    font-size: var(--font-main);
}
.contact .container > div p{
    font-size: var(--font-min);
}
.fale-conosco{
    text-align: center;
    margin: 20px 0;
}
.fale-conosco div a > button{
    margin-top: 15px;
    background-color: red;
    padding: 15px 45px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
footer .container{
    text-align: center;
}

@media screen and (max-width: 1060px) {
    header > .container > nav ul li:not(:last-child){
        display: none;
    }
    .logotipo{
        width: 150px;
    }
    main .container h1{
        margin-top: 5px;
        font-size: 32px;
        font-weight: bold;
    }
    main .container h3{
        font-size: 18px;
        margin-bottom: 20px;
    }
    main .container .banner1{
        width: 100%;
        border-radius: 0;
    }

    
    .banner2 .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 10px;
    }
    
    .banner2 .container div > h1 {
        font-size: 30px;
    }
    .banner2 .container div > p {
        font-size: 18px;
    }
    
    .banner2-img{
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 0px;
    }
    
    .banner2-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .banner2-text{
        padding: 10px;
    }



    
    .banner3 .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .banner3 .container div > h1 {
        font-size: 30px;
        font-weight: bold;
    }
    .banner3 .container div > p {
        font-size: 18px;
    }
    
    .banner3-img{
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 0px;
    }
    
    .banner3-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .banner3-text{
        padding: 10px;
        max-width: 500px;
    }

    .banner-beers{
        margin-top: 20px;
        width: 100%;
    }
    
    .banner-beers img{
        width: 100%;
        object-fit: cover;
    }



    .contact .container > div{
        padding: 10px;
    }
    .contact .container > div h1{
        margin: 15px 0;
        font-size: 30px;
    }
    .contact .container > div p{
        font-size: var(--font-min);
    }
    .fale-conosco{
        text-align: center;
        margin: 15px 0;
    }
    .fale-conosco div > button{
        margin-top: 15px;
        background-color: red;
        padding: 15px 45px;
        border-radius: 5px;
        color: white;
        border: none;
    }
    .fale-conosco a{
        text-decoration: none;
        color: white;
    }
    
    footer{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    footer .container{
        text-align: center;
    }
    footer .container h1{
        font-size: 25px;
    }
    
}